footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    display: flex; /* Add this line */
    align-items: center; /* Add this line */
    bottom: 0;
}
